<html>
 <head>
   <script src="/static/js/jquery-2.1.3.min.js" type="text/javascript"></script>
<!-- //js -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	 <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="/static/css/t-datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/t-datepicker-blue.css" rel="stylesheet" type="text/css">
<script src="/static/js/t-datepicker.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
  </head>
<body>
	
	<div class="w3layouts_main_grid">
		<h3>Book Online<h3>
  <form action="https://instant-bookings.com/ibs/bookings/select-room.aspx" method="get" class="w3_form_post" id="booking">
	<input type="hidden" id="_ga" name="_ga" value="2.76186774.2085303232.1550637966-1112653357.1547450703">
	  <input type="hidden" id="arrivaldate" name="arrivaldate" value="">
	  <input type="hidden" id="departuredate" name="departuredate" value="">
	  <input type="hidden" id="currencycode" name="currencycode" value="">
				<div class="agileits_main_grid w3_agileits_main_grid">
					<div class="wthree_grid">
						<h5>Room Type</h5>
						<select id="category" name="roomkey" required="true">
			<option selected="selected" value="0">All Room Type</option>
	<option value="482">Deluxe Pool View</option>
	<option value="484">Jacuzzi Villa</option>
	<option value="1753">Family Suite (2BR)</option>
	<option value="1754">Honeymoon Sweet</option>

						</select>
						<div class="clear"> </div>
					</div>
				</div>
	<div class="agileits_w3layouts_main_grid w3ls_main_grid">
	<div class="wthree_grid">
	<h5>Child 4 - 11 yr</h5>
						<select id="category" name="numberofinfant" required="true">
					<option selected="selected" value="0">0</option>
					<option value="1">1</option>
						</select>
			<div class="clear"> </div>
	</div>
</div>		
	  	<div class="agileits_w3layouts_main_grid w3ls_main_grid">
	<div class="wthree_grid">
	<h5>Adults per Room</h5>
			<select id="category" name="numberofadult" required="true">
							<option value="1">1</option>
	<option selected="selected" value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>

						</select>
			<div class="clear"> </div>
	</div>
</div>	
<div class="agileits_w3layouts_main_grid w3ls_main_grid">
				<h5>Check In - Check out Dates</h5>
			<div class="t-datepicker">  <div class="t-check-in" name ="arrivaldate" required="true"></div>			  <div class="t-check-out" name ='arrivaldate' required="true"></div><div>	
						</div>
						<div class="clear"> </div>
				</div>
	 <input type="hidden" id="hotelname" name="hotelname" value="railayvillagekrabi">
 <input type="hidden" id="hotelkey" name="hotelkey" value="%3d%3dQTUV0M">
				<div class="w3_main_grid">
					
					<div class="w3_main_grid_right">
						<input type="submit" value="Book Now">
					</div>
					<div class="clear"> </div>
				</div>
			</form>
		</div>
			<div id='iframe'></div>
  	<!-- Calendar -->
			<link rel="stylesheet" href="/static/css/jquery-ui.css" />
			<script src="/static/js/jquery-ui.js"></script>
			  <script>
				$('.t-datepicker').tDatePicker({

  // auto close after selection
  autoClose        : true,

  // animation speed in milliseconds
  durationArrowTop : 200,

  // the number of calendars
  numCalendar    : 1,

  // localization
  titleCheckIn   : 'Check In',
  titleCheckOut  : 'Check Out',
  titleToday     : 'Today',
  titleDateRange : 'night',
  titleDateRanges: 'nights',
  titleDays      : [ 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su' ],
  titleMonths    : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septemper', 'October', 'November', "December"],

  // the max length of the title
  titleMonthsLimitShow : 3,

  // replace moth names
  replaceTitleMonths : null,

  // e.g. 'dd-mm-yy'
  showDateTheme   : null,

  // icon options
  iconArrowTop : true,
  iconDate     : '&#x279C;',
  arrowPrev    : '&#x276E;',
  arrowNext    : '&#x276F;',
  // https://fontawesome.com/v4.7.0/icons/
  // iconDate: '<i class="li-calendar-empty"></i><i class="li-arrow-right"></i>',
  // arrowPrev: '<i class="fa fa-chevron-left"></i>',
  // arrowNext: '<i class="fa fa-chevron-right"></i>',

  // shows today title
  toDayShowTitle       : true, 

  // showss dange range title
  dateRangesShowTitle  : true,

  // highlights today
  toDayHighlighted     : false,

  // highlights next day
  nextDayHighlighted   : false,

  // an array of days
  daysOfWeekHighlighted: [0,6],

  // custom date format
  formatDate      : 'DD/MM/YYYY',

  // dateCheckIn: '25/06/2018',  // DD/MM/YY
  // dateCheckOut: '26/06/2018', // DD/MM/YY
  dateCheckIn  : null,
  dateCheckOut : null,
  startDate    :null,
  endDate      : null,

  // limits the number of months
  limitPrevMonth : 0,
  limitNextMonth : 11,

  // limits the number of days
  limitDateRanges    : 31,

  // true -> full days || false - 1 day
  showFullDateRanges : false, 

  // DATA HOLIDAYS
  // Data holidays
  fnDataEvent   : null

})
.on('afterCheckOut',function(e, dataDate) {
var ci =  new Date(dataDate[0])
var co =  new Date(dataDate[1]) 				
					
var dd = ci.getDate();
var mm = ci.getMonth()+01; 
var yyyy = ci.getFullYear();
var dd1 = co.getDate();
var mm1 = co.getMonth()+01; 
var yyyy1 = co.getFullYear();	
					
ci =String(dd).padStart(2, '0') +'/'+String(mm).padStart(2, '0')+'/'+yyyy;
co = String(dd1).padStart(2, '0')+'/'+String(mm1).padStart(2, '0')+'/'+yyyy1;	
					
   document.getElementById("arrivaldate").value = ci  // check-in

  document.getElementById("departuredate").value = co  // check-out

})

			  </script>
<script type="text/javascript">
	// Submit post on submit
$('#booking').on('submit', function(event){
    event.preventDefault();
    submitsearch();
});
   
function submitsearch() {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#iframe").html("<iframe id="encoder_iframe" height="600px" width="400px" src="{{data}}">
</iframe>");
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    };
</script>
		<!-- //Calendar -->
</body>
  
</html>
